.container-form {
    background-color: rgb(0, 50, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px 20px 5px 20px;
    padding: 10 10 10 10;
}

.form {
    width: 450px;
    margin: 20 auto;
}

.username, .password {
    padding: 2 10;
    border: 1px solid rgb(255, 0, 20);
    border-radius: 5px 20px 5px 20px;
}

input[type=submit] {
    border: 1px solid rgb(255, 0, 20);
    border-radius: 5px 20px 5px 20px;
    color: rgb(255, 0, 20);
    padding: 2 20;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}