.event-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px auto;
    min-width: 300px;
    max-width: 600px;
}

.event-item {
    border-bottom: 1px solid black;
    margin: 15px;
    min-width: 290px;
    transition: font-size 0.5s, box-shadow 0.5s;
}

.event-item:hover {
    font-size: 18px;
    box-shadow: 4px 3px 5px rgb(52 59 64);
}

.event-home-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-away-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-names {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 600px) {
    .event-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 150px auto;
        min-width: 600px;
        max-width: 1200px;
    }

    .event-item {
        border-bottom: 1px solid black;
        margin: 15px auto;
        padding: 20px;
        min-width: 600px;
        transition: font-size 0.5s, box-shadow 0.5s;
    }

    .event-names {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .event-home-score {
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
    }

    .event-home-score>h2 {
        margin: 0 10px;
    }

    .event-away-score {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        justify-content: space-around;
    }
    
    .event-away-score>h2 {
        margin: 0 10px;
    }

    .card {
        min-width: 500px;
    }
}