.category-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 150px auto;
    max-width: 1200px;
}

.category-list-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 32px;
    min-width: 290px;
    max-width: 500px;
    max-height: 150px;
    min-height: 100px;
    margin: 15px;
    border: 1px solid #6a6a81;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 4px 3px 5px rgb(97 112 125);
    transition: font-size 0.5s, box-shadow 0.5s;
}

.category-list-item:hover {
    font-size: 36px;
    box-shadow: 4px 3px 5px rgb(52 59 64);
}

.category-item {
    border-bottom: 1px solid black;
    margin: 15px;
    min-width: 290px;
    max-width: 500px;
}
